{{ template "header" . }}

<!-- Load c3.css -->
<link href="/static/css/c3.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="/static/js/c3.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>

<!-- Left Panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Temperature analysis</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active" style="text-transform:none;">{{ .Family }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        {{ with .Message }}
            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    {{.}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {{ end }} {{ with .ErrorMessage }}
            <div class="col-sm-12">
                <div class="alert  alert-danger alert-dismissible fade show" role="alert">
                    {{.}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        {{ end }}
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="card-title mb-0">About</h4>
                        </div>
                        <div class="col-sm-12">
                            <p>These graphs show the raw RSSI value (X-axis) and the probability (Y-axis) for each location for the top 10 most important access points. The most important access points have the most variance across the location set, thus are the most distinguishing.</p>
                            <p>If you see two graphs with very similar patterns, then likely those two locations are too close together to be able to distinguish them correctly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var charts_ids = [];
            var data = {};
        </script>
        {{ range $i, $n := .Locations }}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="card-title mb-0 text-center text-capitalize">{{$n.Location}}</h4>
                            </div>
                            <div class="col-sm-12">
                                <div id="chartjs-{{$i}}" >
                                    <script type="text/javascript">
                                        charts_ids.push("chartjs-{{$i}}");
                                        data["chartjs-{{$i}}"] = {{$n}};
                                        {{/*var chart = c3.generate({*/}}
                                            {{/*bindto: '#chartjs-{{$i}}',*/}}
                                            {{/*size: {*/}}
                                                {{/*height: 300*/}}
                                            {{/*},*/}}
                                            {{/*data: {*/}}
                                                {{/*xs: {{$n.Xs}},*/}}
                                                {{/*xFormat: '%Y-%m-%dT%H:%M:%S',*/}}
                                                {{/*json: {{$n.Data}}*/}}
                                            {{/*},*/}}
                                            {{/*axis: {*/}}
                                                {{/*x: {*/}}
                                                    {{/*type: 'timeseries',*/}}
                                                    {{/*tick: {*/}}
                                                        {{/*rotate: 90,*/}}
                                                        {{/*format: '%Y-%m-%dT%H:%M:%S',*/}}
                                                        {{/*multiline: false*/}}
                                                    {{/*},*/}}
                                                {{/*}*/}}
                                            {{/*}*/}}
                                        {{/*});*/}}
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
    <!-- .content -->
</div>
<!-- /#right-panel -->
<!-- Right Panel -->
<script>
    for (var i = 0; i < charts_ids.length; i++){
        var chart = c3.generate({
            bindto: '#chartjs-' + i,
            size: {
                height: 300
            },
            data: {
                xs: data["chartjs-" + i]["xs"],
                xFormat: '%Y-%m-%dT%H:%M:%S',
                json: data["chartjs-" + i]["data"]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        rotate: 90,
                        format: '%Y-%m-%dT%H:%M:%S',
                        multiline: false
                    },
                }
            }
        });
    }
</script>

{{ template "footer" . }}